@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Myriad Pro Light";
	src: url("//db.onlinewebfonts.com/t/f74ee7cbb191e486e9551cdada1999ed.eot");
	src: url("//db.onlinewebfonts.com/t/f74ee7cbb191e486e9551cdada1999ed.eot?#iefix")
			format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/f74ee7cbb191e486e9551cdada1999ed.woff2")
			format("woff2"),
		url("//db.onlinewebfonts.com/t/f74ee7cbb191e486e9551cdada1999ed.woff")
			format("woff"),
		url("//db.onlinewebfonts.com/t/f74ee7cbb191e486e9551cdada1999ed.ttf")
			format("truetype"),
		url("//db.onlinewebfonts.com/t/f74ee7cbb191e486e9551cdada1999ed.svg#Myriad Pro Light")
			format("svg");
}

@font-face {
	font-family: "Franklin Gothic Medium";
	src: url("//db.onlinewebfonts.com/t/a8d23046bc8d38ee78b38e95ec47f9e5.eot");
	src: url("//db.onlinewebfonts.com/t/a8d23046bc8d38ee78b38e95ec47f9e5.eot?#iefix")
			format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/a8d23046bc8d38ee78b38e95ec47f9e5.woff2")
			format("woff2"),
		url("//db.onlinewebfonts.com/t/a8d23046bc8d38ee78b38e95ec47f9e5.woff")
			format("woff"),
		url("//db.onlinewebfonts.com/t/a8d23046bc8d38ee78b38e95ec47f9e5.ttf")
			format("truetype"),
		url("//db.onlinewebfonts.com/t/a8d23046bc8d38ee78b38e95ec47f9e5.svg#Franklin Gothic Medium")
			format("svg");
}

html,
body {
	padding: 0;
	overflow-x: hidden;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #032d5a;
	color: white;
	height: 2000px;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.active {
	background: #d7072a;
}

.map {
	height: 5vh;
}

.link {
	font-family: "Myriad Pro Light", "Segoe UI", Tahoma, Geneva, Verdana,
		sans-serif;
}

.image {
	margin-bottom: 30%;
	max-width: 100%;
	height: auto;
}
